@using WebApplicationDB.ViewModels
@model ShowDBViewModel
@{
    ViewData["Title"] = "ShowDbPage";
}
<div class="text-danger">
    @ViewBag.Message
</div>
<form>
    <div class="form-row align-items-center text-center">
        <div class="col-auto my-1">
            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect1" name="currentYear">
                @if (Model.Data.CurrentYear == null)
                {
                    <option selected value="@Model.Data.CurrentYear">Any Year</option>
                }
                else
                {
                    <option selected value="@Model.Data.CurrentYear">@Model.Data.CurrentYear</option>
                    <option value="@null">Any Year</option>
                }
                @foreach (int year in Model.Data.Years)
                {
                    if (year != Model.Data.CurrentYear)
                    {
                        <option value="@year">@year</option>
                    }
                }
            </select>
        </div>
        <div class="col-auto my-1">
            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect2" name="currentMonth">
                @if (Model.Data.CurrentMonth == null)
                {
                    <option selected value="@Model.Data.CurrentMonth">Any Month</option>
                }
                else
                {
                    <option selected value="@Model.Data.CurrentMonth">@Model.Data.CurrentMonth</option>
                    <option value="@null">Any Month</option>
                }
                @for (int i = 0; i < 12; i++)
                {
                    if (i + 1 != Model.Data.CurrentMonth)
                    {
                        <option value="@(i + 1)">@(i + 1)</option>
                    }
                }
            </select>
        </div>
        <div class="col-auto my-1">
            <button class="btn btn-primary mr-sm-2" type="submit" id="inlineFormButton">Submit</button>
        </div>
    </div>
</form>

<h2>Weather forecast archive</h2>

<div class="row">
    <div class="col-auto">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                @if (Model.Pages.HasPreviousPage)
                {
                    <li class="page-item">
                        <a asp-action="ShowDBTable"
                           asp-route-pageNum="1"
                           asp-route-currentYear="@Model.Data.CurrentYear"
                           asp-route-currentMonth="@Model.Data.CurrentMonth"
                           class="page-link">
                            &lt&lt
                        </a>
                    </li>
                    <li class="page-item">
                        <a asp-action="ShowDBTable"
                           asp-route-pageNum="@(Model.Pages.PageNumber - 1)"
                           asp-route-currentYear="@Model.Data.CurrentYear"
                           asp-route-currentMonth="@Model.Data.CurrentMonth"
                           class="page-link">
                            Back
                        </a>
                    </li>
                }
                @if (Model.Pages.HasNextPage)
                {
                    <li class="page-item">
                        <a asp-action="ShowDBTable"
                           asp-route-pageNum="@(Model.Pages.PageNumber + 1)"
                           asp-route-currentYear="@Model.Data.CurrentYear"
                           asp-route-currentMonth="@Model.Data.CurrentMonth"
                           class="page-link">
                            Forward
                        </a>
                    </li>
                    <li class="page-item">
                        <a asp-action="ShowDBTable"
                           asp-route-pageNum="@(Model.Pages.TotalPages)"
                           asp-route-currentYear="@Model.Data.CurrentYear"
                           asp-route-currentMonth="@Model.Data.CurrentMonth"
                           class="page-link">
                            &gt&gt
                        </a>
                    </li>
                }
            </ul>
        </nav>
    </div>

    <div class="col-auto">
        <form method="post"
              asp-action="ShowDBTable"
              asp-route-currentYear="@Model.Data.CurrentYear"
              asp-route-currentMonth="@Model.Data.CurrentMonth">
            <div class="form-row">
                <div class="col-auto">
                    <label class="sr-only" for="inlineFormInputGroup">Username</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Page Num</div>
                        </div>
                        <input id="InputPage" type="number" size="@Model.Pages.TotalPages" name="pageNum" min="1" max="@Model.Pages.TotalPages" value="@Model.Pages.PageNumber">
                    </div>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-2">Go</button>
                </div>
            </div>
        </form>
    </div>
</div>


<table class="table">
    <tr>
        <th>Дата/Время (московское)</th>
        <th>T</th>
        <th>Отн. влажность воздуха, %</th>
        <th>Td, мм</th>
        <th>Атм. давление, мм рт.ст.</th>
        <th>Направление ветра</th>
        <th>Скорость ветра, м/с</th>
        <th>Облачность, %</th>
        <th>h</th>
        <th>VV</th>
        <th>Погодные явления</th>
    </tr>
    @foreach (WeatherRow row in Model.Data.WeatherRows)
    {
        <tr>
            <td>@row.Id</td>
            <td>@row.T</td>
            <td>@row.Humidity</td>
            <td>@row.Td</td>
            <td>@row.Pressure</td>
            <td>@row.WindDir</td>
            <td>@row.WindSpeed</td>
            <td>@row.Cloudy</td>
            <td>@row.H</td>
            <td>@row.VV</td>
            <td>@row.WeatherConds</td>
        </tr>
    }
</table>

<div class="row">
    <div class="col-auto">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                @if (Model.Pages.HasPreviousPage)
                {
                    <li class="page-item">
                        <a asp-action="ShowDBTable"
                           asp-route-pageNum="1"
                           asp-route-currentYear="@Model.Data.CurrentYear"
                           asp-route-currentMonth="@Model.Data.CurrentMonth"
                           class="page-link">
                            &lt&lt
                        </a>
                    </li>
                    <li class="page-item">
                        <a asp-action="ShowDBTable"
                           asp-route-pageNum="@(Model.Pages.PageNumber - 1)"
                           asp-route-currentYear="@Model.Data.CurrentYear"
                           asp-route-currentMonth="@Model.Data.CurrentMonth"
                           class="page-link">
                            Back
                        </a>
                    </li>
                }
                @if (Model.Pages.HasNextPage)
                {
                    <li class="page-item">
                        <a asp-action="ShowDBTable"
                           asp-route-pageNum="@(Model.Pages.PageNumber + 1)"
                           asp-route-currentYear="@Model.Data.CurrentYear"
                           asp-route-currentMonth="@Model.Data.CurrentMonth"
                           class="page-link">
                            Forward
                        </a>
                    </li>
                    <li class="page-item">
                        <a asp-action="ShowDBTable"
                           asp-route-pageNum="@(Model.Pages.TotalPages)"
                           asp-route-currentYear="@Model.Data.CurrentYear"
                           asp-route-currentMonth="@Model.Data.CurrentMonth"
                           class="page-link">
                            &gt&gt
                        </a>
                    </li>
                }
            </ul>
        </nav>
    </div>

    <div class="col-auto">
        <form method="post"
              asp-action="ShowDBTable"
              asp-route-currentYear="@Model.Data.CurrentYear"
              asp-route-currentMonth="@Model.Data.CurrentMonth">
            <div class="form-row">
                <div class="col-auto">
                    <label class="sr-only" for="inlineFormInputGroup">Username</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Page Num</div>
                        </div>
                        <input id="InputPage" type="number" size="@Model.Pages.TotalPages" name="pageNum" min="1" max="@Model.Pages.TotalPages" value="@Model.Pages.PageNumber">
                    </div>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-2">Go</button>
                </div>
            </div>
        </form>
    </div>
</div>